backend/
node_modules/
__pycache__/
python/sdks/__pycache__/
python/__pycache__/
sdks/__pycache__/
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
frontend/package-lock.json
